body {

            /* background-color: rgba(255, 255, 255, 0.897); */
            background-image: url(./img/oliveBackground.jpg);


}



#head{


            font-size: 54px;

               
            

}


#theButton {

            /* margin: 0 auto;
            width: 0%;

            display: block; */
            text-align: center;
            /* background-color: aquamarine; */
                        
                         



}

#subHead{

        text-align: center;
        color: rgb(250, 196, 48);


}


#mainLogo {


                       /* size: 10px; */
                        /* float: inline-end; */
                        display: block;
                         margin-left: auto;
                        margin-right: auto;
                        
                         
                        

}


header{

        background-color: black;

}



#foodImages {


                        max-width: 100%;
                        /* height: auto; */
                        max-height: 100%;


}


#break1{


                color:  rgba(255, 255, 255, 0.897);


}


#hours1 {


                        text-align: center;
                        background-color: forestgreen;
                        color: white;

}


#call {


                float: left;
                color: blueviolet;
                font-size: larger;

}

#location{


                float: right;

}

#maps1 {


        display: block;
        margin: auto;
        text-align: center;

}