body {

            background-color: rgba(255, 255, 255, 0.897);


}



#head{


            font-size: 54px;

               
            

}


#theButton {

            margin: 0 auto;
            width: 0%;

            display: block;
                        
                         



}

#subHead{

        text-align: center;


}


#mainLogo {


                       /* size: 10px; */
                        /* float: inline-end; */
                        display: block;
                         margin-left: auto;
                        margin-right: auto;
                         
                        

}


head{

        color: black;

}



#foodImages {


                        max-width: 100%;
                        height: auto;


}